@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;900&family=Playfair+Display:wght@400;700&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
  background-color: #0C0C0C;
  color: #F8F8F8;
  margin: 0;
  padding: 0;
}
